section {
    min-height: 100vh;
}

/* Reset básico */
* {
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #fba9ff;
}

/* Menu sticky */
.menu-sticky {
    position: sticky;
    top: 0;
    background-color: #920887;
    color: white;
    padding: 20px 0;
    text-align: center;
    z-index: 1000;
    height: 60px;
    /* Altura definida explicitamente */
}

.menu-sticky nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.menu-sticky nav a:hover {
    color: #f6f628;
}

/* Seções - são as âncoras */
section {
    padding: 10px;
    min-height: 100vh;
    text-align: center;
    scroll-margin-top: 60px;
    /* Corresponde à altura do menu */
    background-color: #f297f7;
}


.item {
    border: 0.2vw rgb(12, 12, 12) solid;
    width: 200px;
    height: 200px;
    margin: auto;
}


.fleximg {
    height: 100%;
    margin: auto;
    display: block;
}

.fotos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15vw;
    gap: 20px;
}

.fotos img {
    width: 100%;
    height: 100%;

}

footer {
    background-color: #920887;
    color: white;
    padding: 20px 0;
    text-align: center;

}

.sobreimg {
    display: flex;
    flex-wrap: wrap;



}

.sobresobre {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;

}

.sobreimg p {
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px;
}

.sobreimg div img {
    border-radius: 15px;
    width: 100%;
}

.itemb {

    width: 200px;
    height: 200px;
    margin: auto;
}